*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
h2{
    text-align: center;
    margin: 10px;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: black;
}
.alert-container{
    display:none;
    justify-content: center;
    text-transform: capitalize;
    background-color: rgba(0, 128, 0, 0.251);
    font-weight: 700;
    font-size: 25px;
    align-items: center;
    position: fixed;
    z-index: 100;
    left:50%;
    transform: translateX(-50%);
    bottom:10px;
    border:1px solid green;
    height:10vh;
    width: 50vw;
}
.alert-active{
    display:flex;
}